@import url("reset.css");

@import url("fonts.css");

body {
  font-family: "Neucha", cursive;
  font-size: 20px;
  color: #2c2c2c;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  padding-top: 138px;
  background: linear-gradient(125deg, #0700b8 0%, #00ff88 50%, #0700b8 100%);
  background-attachment: fixed;
}
.header,
.footer {
  padding: 50px 25px 25px;
  letter-spacing: 2px;
}
[class*="__back"],
[class*="__up"] {
  padding: 5px 10px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 15px;
  transition: all ease 0.4s;
}
[class*="__back"]:hover,
[class*="__up"]:hover {
  color: #68b8f5;
  letter-spacing: 17px;
  text-shadow: 1px 1px #1d557a;
}
[class*="__container"] {
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header__container {
  max-width: 1000px;
}
.header {
  background-color: #b39c9ca3;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
.header__back {
  position: fixed;
  top: 25px;
  left: 30px;
}
.header__nav-list {
  font-size: 23px;
}
.header__nav-item {
  position: relative;
  display: inline-block;
  min-width: 250px;
  text-align: center;
}
.header__nav-item:not(:last-child) {
  margin-right: 10px;
}
.header__nav-link::after {
  content: "";
  border: 1px solid transparent;
  width: 0;
  display: block;
  transition: all 0.3s ease-in-out;
}
.header__nav-item:hover .header__nav-link {
  background-color: #25f07ab9;
  box-shadow: inset 0px 0px 20px 5px #817f7f6e;
}
.header__nav-item:hover .header__nav-link::after {
  border-color: #4d5452;
  width: 100%;
}
.header__nav-item:hover .header__practice-nav {
  opacity: 1;
  visibility: visible;
}
.header__nav-link {
  width: 100%;
  padding: 20px;
  transition: background-color ease 0.5s;
}
.header__practice-nav {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 250px;
  opacity: 0;
  visibility: hidden;
  border-top: solid 1px rgba(0, 0, 0, 0.133);
  transition: opacity ease 0.5s 0.1s;
}
.practice-nav__item {
  background-color: #25f07ab9;
  text-align: left;
}
.practice-nav__item:first-child {
  padding-top: 10px;
}
.practice-nav__item:last-child {
  padding-bottom: 10px;
}
.practice-nav__link {
  width: 100%;
  padding: 10px 10px;
  transition: background-color ease 0.6s;
}
.practice-nav__link:hover {
  background-color: #b39c9cbb;
}
.practice-section {
  padding: 25px 0;
  letter-spacing: 2px;
}
.practice-section__container {
  padding: 0 30px;
}
.practice-section__title {
  color: #612f2f;
  font-family: "volja", monospace;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.practice-section__container > div:not(:last-child) {
  margin-bottom: 30px;
}
.practice-section__title ~ div {
  padding: 20px 0;
  font-size: 0;
  text-align: center;
}
.practice-section__title ~ div > *:not(:last-child) {
  margin-right: 30px;
}
[class*="-block"] {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 7px;
  background-color: #fffafa54;
  font-size: 20px;
  vertical-align: top;
}
[class*="-block__item"] {
  width: 150px;
  height: 150px;
  padding: 50px 10px;
  border-radius: 7px;
  background-color: #5cd295;
  transform: translate(-10%, -10%);
  pointer-events: none;
  transition: transform ease 0.5s;
}
.transform-block:hover .transform-block__item {
  transform: translate(0);
  box-shadow: inset 0px 0px 50px 20px #3a37376e;
}
.scale-block__item {
  transform: scale(0.5);
}
.scale-block:hover .scale-block__item {
  transform: scale(1);
  box-shadow: inset 0px 0px 50px 20px #3a37376e;
}
.mirror-block__item {
  transform: scale(-1, -1);
}
.mirror-block:hover .mirror-block__item {
  transform: scale(1, 1);
  box-shadow: inset 0px 0px 50px 20px #3a37376e;
}
.rotate-block__item {
  transform: rotate(25deg);
}
.rotate-block:hover .rotate-block__item {
  transform: rotate(-25deg);
  box-shadow: inset 0px 0px 50px 20px #3a37376e;
}
.skew-block__item {
  transform: skew(-10deg, -15deg);
}
.skew-block:hover .skew-block__item {
  transform: skew(10deg, 15deg);
  box-shadow: inset 0px 0px 50px 20px #3a37376e;
}
.transform-point .transform-block {
  background-color: #bf54d683;
}
.transform-point .transform-block__item {
  background-color: #17e4f7;
}
.transform-block__item--top-left {
  transform: rotate(25deg) scale(0.8);
  transform-origin: top left;
}
.transform-block__item--top-right {
  transform: rotate(35deg) skew(-20deg);
  transform-origin: top right;
}
.transform-block__item--top-center {
  transform: rotate(-35deg) scale(0.8) skew(-10deg);
  transform-origin: bottom center;
}
.transform-block__item--bottom-left {
  transform: rotate(10deg) rotateY(-55deg);
  transform-origin: bottom left;
}
.transform-block__item--bottom-right {
  transform: rotate(25deg) skew(20deg, 10deg);
  transform-origin: bottom right;
}
.transform-3d .transform-block {
  background-color: #fb277f5f;
  perspective: 200px;
  perspective-origin: center;
}
.transform-3d .transform-block__item {
  background-color: #eb7fe1;
}
.transform-block__item--translate3d,
.transform-block__item--separate {
  padding-top: 35px;
}
.transform-block__item--translate3d {
  transform: translate3d(-30px, 20px, 40px) rotate(360deg);
}
.transform-block__item--rotateX {
  transform: rotateX(50deg);
}
.transform-block__item--rotate3d {
  transform: rotate3d(-5, 5, 10, -55deg);
}
.transform-block--style3d {
  transform-style: preserve-3d;
}
.transform-block__item--style3d {
  transform: rotateY(50deg);
}
.transform-block__item--separate {
  transform-origin: 115% 75%;
}
.transform-block:hover .transform-block__item--separate {
  rotate: 25deg;
}
.revers-card {
  display: inline-block;
}
.revers-card__body {
  position: relative;
  perspective: 800px;
}
.revers-card__front img,
.revers-card__back img {
  width: 400px;
  height: 300px;
  object-fit: fill;
}
.revers-card__front,
.revers-card__back {
  transition: transform 0.5s;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
}
.revers-card__front {
  backface-visibility: hidden;
  transform: rotateY(0deg);
}
.revers-card__back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
}
.revers-card__body:hover .revers-card__front {
  transition: transform 0.7s;
  transform: rotateX(-180deg);
}
.revers-card__body:hover .revers-card__back {
  transition: transform 0.7s;
  transform: rotateX(0deg);
}
.delay-transform {
  width: 220px;
}
.delay-transform__figure {
  width: 180px;
  height: 180px;
  margin: auto;
  border-radius: 30px;
  background-color: #c5f69d;
  box-shadow: inset 0 0 30px #0000009c;
  transition: width 1s ease, height 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s,
    border-radius 1s ease-out 0.5s, background-color 1s linear,
    box-shadow 1s ease;
}
.delay-transform:hover .delay-transform__figure {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #c2abd7;
  box-shadow: inset 0 0 20px #0000009c;
}
.practice-section .rotate-3d {
  width: 180px;
  padding: 40px 0;
  perspective: 1000px;
}
.hover-transform > div:not(:last-child),
.animation > div:not(:last-child) {
  margin-right: 100px;
}
.revers-card,
.delay-transform,
.rotate-3d,
.newton {
  display: inline-block;
  vertical-align: middle;
}
.rotate-3d__cube {
  animation-name: rotate-cube;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  position: relative;
  will-change: transform;
  transition: transform 0.7s ease;
}
.rotate-3d:hover .rotate-3d__cube {
  animation-play-state: paused;
}
.cube {
  height: 180px;
  transform-style: preserve-3d;
}
.cube__side {
  animation-name: color-change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  inset: 0;
  color: #0000007f;
  box-shadow: inset 0 0 70px #000000;
  padding-top: 60px;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}
.cube__side--front {
  transform: translateZ(90px);
}
.cube__side--back {
  transform: translateZ(-90px) rotateY(180deg);
}
.cube__side--left {
  transform: translateX(-90px) rotateY(90deg);
}
.cube__side--right {
  transform: translateX(90px) rotateY(-90deg);
}
.cube__side--bottom {
  transform: translateY(90px) rotateX(90deg);
}
.cube__side--top {
  transform: translateY(-90px) rotateX(-90deg);
}
@keyframes color-change {
  0% {
    background-color: #00e69966;
  }
  50% {
    background-color: #0bdde866;
  }
  100% {
    background-color: #0099e666;
  }
}
@keyframes rotate-cube {
  0% {
    transform: rotate3d(5, 4, 5, 0deg) scale(0.9);
  }
  50% {
    transform: rotate3d(5, 4, 5, 180deg) scale(1.1);
  }
  100% {
    transform: rotate3d(5, 4, 5, 360deg) scale(0.9);
  }
}
.newton__body {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}
.newton__body::before {
  width: 100%;
  content: "";
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2e87cf;
  box-shadow: inset 0 0 1px #000000;
  z-index: 2;
}
.newton__item {
  position: absolute;
  height: 100%;
  inset-block-start: 0;
  transform-origin: top;
}
.newton__item:nth-child(1) {
  inset-inline-start: 31px;
  animation: left-item 1s infinite ease-in alternate;
}
.newton__item:nth-child(2) {
  inset-inline-start: 100px;
}
.newton__item:nth-child(3) {
  inset-inline-end: 31px;
  animation: right-item 1s infinite ease-out alternate;
}
.newton__item::before {
  content: "";
  width: 3px;
  height: 150px;
  background-color: #409460;
}
.newton__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #2e87cf;
  box-shadow: inset 0 0 20px #000000;
  transform: translate(-36.5px, 0px);
}
.newton:hover .newton__item {
  animation-play-state: paused;
}
@keyframes left-item {
  0% {
    transform: rotate(15deg);
  }
  50%,
  100% {
    transform: rotate(0deg);
  }
}
@keyframes right-item {
  0%,
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
.vehicle {
  position: relative;
  font-family: "Saira Stencil One", sans-serif;
  font-size: 50px;
  color: #ffffffc5;
  text-align: center;
  background: url(../img/chumackiy-shlyah.jpg) 0 0 / cover no-repeat;
}
.vehicle__star {
  position: absolute;
  top: 5%;
  right: 15%;
  width: 125px;
  height: 125px;
  z-index: 5;
  animation: growing-star 25s ease-in-out infinite alternate;
}
@keyframes growing-star {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
  15% {
    transform: rotate(55deg) scale(0.9);
  }
  30% {
    transform: rotate(105deg) scale(0.8);
  }
  45% {
    transform: rotate(155deg) scale(1);
  }
  60% {
    transform: rotate(205deg) scale(0.9);
  }
  75% {
    transform: rotate(255deg) scale(1.1);
  }
  90% {
    transform: rotate(305deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}
.vehicle__saturn {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 125px;
  height: 125px;
  z-index: 7;
  animation: saturn-rotate 20s ease infinite;
}
@keyframes saturn-rotate {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
.vehicle__ufo {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #686565;
  border: 15px dotted #000000;
  z-index: 7;
  font-size: 40px;
  color: #000;
  animation: turn-ufo 10s linear infinite;
}
@keyframes turn-ufo {
  0% {
    transform: translate(500px, 100px) skew(20deg, 0deg) rotate(0deg);
  }
  50% {
    transform: translate(500px, 100px) skew(45deg, 0deg) rotate(180deg);
  }
  100% {
    transform: translate(500px, 100px) skew(20deg, 0deg) rotate(360deg);
  }
}
.vehicle__ufo::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  transform: translate(-50%, -50%);
}
.vehicle__bg {
  perspective: 370px;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  background-color: #ffffff5f;
}
.vehicle__way {
  transform: translateY(-450px) rotateX(30deg);
  width: 800px;
  height: 800px;
  margin: 0 auto;
  padding: 70px 80px;
  background-color: #3d1b4f;
  overflow: hidden;
}
.way__text {
  transform: translateY(700px);
  animation: text-away 120s ease 25s forwards;
}
.way__text h2 {
  font-size: 94px;
  margin-bottom: 35px;
}
@keyframes text-away {
  0% {
    transform: translateY(700px);
  }
  100% {
    transform: translateY(-800px);
  }
}
.vehicle__star-flight {
  width: 600px;
  position: relative;
  z-index: 5;
  font-size: 0;
  animation: flying 30s linear infinite;
}
@keyframes flying {
  0% {
    transform: translate(-800px, 350px) rotate3d(0, 35, -25, -15deg) scale(0.3);
  }
  15% {
    transform: translate(-750px, 500px) rotate3d(0, 35, -25, -10deg) scale(0.4);
  }
  30% {
    transform: translate(-150px, 500px) rotate3d(0, 35, -25, -10deg) scale(0.9);
  }
  45% {
    transform: translate(450px, 600px) rotate3d(0, 35, -25, 10deg) scale(1.3);
  }
  60% {
    transform: translate(950px, 300px) rotate3d(60, 80, -70, 30deg) scale(0.7);
  }
  75% {
    transform: translate(250px, 20px) rotate3d(-30, 140, -80, 110deg) scale(0.5);
  }
  90% {
    transform: translate(-400px, 30px) rotate3d(50, 200, -60, 205deg) scale(0.4);
  }
  100% {
    transform: translate(-800px, 350px) rotate3d(0, 35, -25, -15deg) scale(0.3);
  }
}
[class*="wing__elem"] {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
}
.wing--top-part {
  transform: rotateX(180deg);
}
.wing__light {
  width: 25px;
  height: 8px;
  background-color: #ff3535;
  box-shadow: -5px 0px 10px 5px #f57547;
  transform: translate(-10px, -15px);
  font-size: 20px;
  color: #000;
}
.wing__elem--part-1 {
  width: 50px;
  height: 170px;
  background-color: #095e93;
}
.wing__item--inset-1 {
  border-top: 35px solid #8d8f8f;
  border-left: 70px solid #8d8f8f;
  border-bottom: 25px solid transparent;
  transform: translate(-10px, 70px);
}
.wing__item--inset-turbo {
  width: 7px;
  height: 35px;
  background-color: #fa7110;
  box-shadow: -15px 0px 75px 55px #f73d0f;
  transform: translate(-17px, 20px);
  font-size: 20px;
  color: #000;
}
.wing__elem--part-2 {
  border-top: 120px solid #095e93;
  border-left: 100px solid #095e93;
  border-bottom: 50px solid transparent;
}
.wing__item--inset-2-gray {
  border-top: 50px solid #adaeae;
  border-right: 80px solid #adaeae;
  border-bottom: 50px solid transparent;
  transform: translate(-110px, -120px);
}
.wing__elem--part-3 {
  border-top: 70px solid #095e93;
  border-left: 200px solid #095e93;
  border-bottom: 50px solid transparent;
}
.wing__elem--part-4 {
  border-top: 20px solid #095e93;
  border-left: 120px solid #095e93;
  border-bottom: 50px solid transparent;
}
.wing__item--inset-4 {
  width: 350px;
  height: 30px;
  background-color: #534aed;
  transform: translate(-350px, -20px);
}
.wing__item--inset-4-gray {
  border-top: 20px solid #adaeae;
  border-left: 160px solid #adaeae;
  border-bottom: 30px solid transparent;
  transform: translate(-280px, -20px);
}
.wing__elem--part-5 {
  border-top: 0 solid #534aed;
  border-left: 100px solid #534aed;
  border-bottom: 40px solid transparent;
  transform: translateY(-10px);
}
.wing__item--inset-5 {
  border-top: 0 solid #095e93;
  border-left: 60px solid #095e93;
  border-bottom: 20px solid transparent;
  transform: translate(-100px, 5px);
}
[class*="body-flight__"] {
  display: inline-block;
  vertical-align: middle;
}
.tail {
  width: 100px;
  height: 100px;
  background-color: #5d5c5c;
  transform: translate(-110px);
}
.tail__turbo--part-1 {
  width: 85px;
  height: 70px;
  background-color: #adaeae;
  transform: translate(-20px, 15px);
}
.tail__turbo--part-2 {
  border-top: 13px solid transparent;
  border-right: 40px solid #adaeae;
  border-bottom: 0px solid #adaeae;
  transform: translate(-80px, -67px);
}
.tail__turbo--part-3 {
  border-top: 0px solid #adaeae;
  border-right: 40px solid #adaeae;
  border-bottom: 13px solid transparent;
  transform: translate(-80px, 2px);
}
.tail__turbo--part-4 {
  width: 30px;
  height: 20px;
  background-color: #5d5c5c;
  transform: translate(-5px, -55px);
}
.tail__turbo--part-5 {
  width: 10px;
  height: 40px;
  background-color: #5d5c5c;
  transform: translate(-30px, -85px);
}
.tail__turbo--part-6 {
  width: 30px;
  height: 10px;
  background-color: #5d5c5c;
  transform: translate(-60px, -110px);
}
.cabin {
  width: 250px;
  height: 25px;
  background-color: #5d5c5c;
  transform: translate(-110px, 25px);
}
.cabin__front--part-1 {
  width: 35px;
  height: 50px;
  background-color: #5d5c5c;
  transform: translate(0px, -50px);
}
.cabin__yoda {
  width: 60px;
  height: 60px;
  background: url(../img/yoda.png) center / cover;
  transform: translate(45px, -180px);
}
.cabin__front--part-2 {
  width: 150px;
  height: 50px;
  background-color: #aeadadbf;
  border-radius: 0 100% 0 0;
  transform: translate(35px, -100px);
}
.cabin__front--part-3 {
  width: 350px;
  height: 25px;
  background-color: #aeadad;
  border-radius: 0 100% 0 0;
  transform: translate(35px, -180px);
}
.cabin__light {
  width: 7px;
  height: 15px;
  border-radius: 1px 3px 3px 1px;
  background-color: #f54747;
  box-shadow: 10px 0px 15px 5px #f57547;
  transform: translate(80px, -200px);
  font-size: 20px;
  color: #000;
}
.footer__contacts {
  text-decoration: underline;
  color: #0000ff;
}
.footer > *:not(:last-child) {
  margin-bottom: 15px;
}
.footer li {
  color: #612f2f;
}
